#title {
  background-color: #ff4c68;
  margin: auto;
}

body {
font-family: 'Noto Sans KR', sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #FFFFFF;
}

.dog-tagline {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  line-height: 1.5;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  margin-left: 3rem;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
}

.icon:hover {
  color: #ff4c68;
}

.features-1 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 700;
}

.features-2 {
  color: #8f8f8f;
}
#features {
  padding: 7% 15%;
  text-align: center;
  font-weight: lighter;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-plan {
  font-family: 'Montserrat', sans-serif;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-tag {
  padding-bottom: 5%;
}

@media (max-width: 1028px) {

   #title {
     text-align: center;
   }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color:  #ff4c68;
  text-align: center;
  color: #ffffff;
  padding: 5% 0 5%;
}

.cta-line {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  width: 70%;
  margin: auto;
  line-height: 70px;

}

#footer {
  text-align: center;
}

.footer-icon {
  padding: 7% 0 2%;
  margin: 0 1%;
}
 .copyright {
   padding-bottom: 5%;
 }
